home {
    float:right;
}
#business{
    font-size:39px;
}
#social{
    font-size: 39px;
}
#date {
    font-size: 39px;
}

.text-occasion{
    color: rgb(40, 40, 136);
    font-weight: bolder;
    font-style: italic;
    font-size: 19px;
    font-family: 'Kalam', cursive;
    text-decoration: underline;

}
.text-business {
    font-size:26px;
    font-family: 'Cardo', serif;
    color:rgb(62, 62, 62);
}
.text-social {
    font-size:26px;
    font-family: 'Cardo', serif;
    color: rgb(40, 40, 136);
}
.text-date {
    font-size:26px;
    font-family: 'Cardo', serif;
    color: rgb(196, 19, 125);
}
.navbar-brand, .active, #heading-1 {
    font-family: 'Exo', sans-serif;
    font-size: 35px;
}

#home{
    color:  rgb(40, 40, 136);
    font-family: 'Courgette', cursive;
    font-size: 50px;
}

#stats{
    color:  rgb(40, 40, 136);
    font-family: 'Courgette', cursive;
    font-size: 50px;
}
.lead {
    font-family: 'Quattrocento', serif;
    text-align:center;
    color: rgb(25, 25, 128);
    font-size: 25px;
}
.copyright {
    font-family: 'Exo', sans-serif;
    color:  rgb(40, 40, 136);
    font-family: 'Courgette', cursive;
    text-align:center;
    font-size: 20px;
    font-weight: bolder;

}
.info, .information {
    background-color:#cee6e8;
}
.footer {
    width:100%;
    height:3em;
}
.results {
    /*width:43%;*/
    height:auto;
    border: 1px solid teal;
    text-align:center;
    font-family:Algerian;
}

body{
    background-image: url("../images/ice2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.fas.fa-heart{
    color:rgb(196, 19, 125);
}

.fas.fa-glass-cheers{
    color: rgb(40, 40, 136);
}

.fas.fa-user-tie{
    color:rgb(62, 62, 62);
}


.container-fluid{
  
    opacity: 0.85;
}
/* This is for USer Stats chart  */
#user-stats{
    opacity: 1; 
}

.jumbotron{
    margin-bottom: 0px;
    padding-top: 10px;
}

button:hover{
    cursor: pointer; 
    background-color: lightseagreen; 
}

/* Displaying Stars for the Yelp Reviews  */
.checked {
    color: orangered;
  }

  /* Displyas the title for all THe API DATA  */
  .title{
      font-weight: bold;
      color: purple;  
  }
/* Displays the sub-title for all THe API DATA  */
  .author , .category {
      font-weight: bold; 
  }

/* Firebase charts  */
@import url('https://fonts.googleapis.com/css?family=Barlow:500');

