.home {
    float:right;
}
#business{
    font-size:40px;
}
#social{
    font-size: 40px;
}
#date {
    font-size: 40px;
}
.text-business {
    font-size:30px;
    font-family: 'Exo', sans-serif;
}
.text-social {
    font-size:30px;
    font-family: 'Exo', sans-serif;
}
.text-date {
    font-size:30px;
    font-family: 'Exo', sans-serif;
}
.navbar-brand, .active, #heading-1 {
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}
.lead {
    font-family: 'Exo', sans-serif;
    text-align:justify;
}
.copyright {
    font-family: 'Exo', sans-serif;
    text-align:center;
}
.info, .information {
    background-color:#cee6e8;
}
.footer {
    width:100%;
    height:5em;
}
.results {
    /*width:43%;*/
    height:auto;
    border: 1px solid teal;
    text-align:center;
    font-family:Algerian;
}
